@charset "UTF-8";

/* =====================================
     全体設計
======================================*/
body{font-size:14px;line-height:1;font-family:"メイリオ",Meiryo;background-image:url(https://raw.githubusercontent.com/mizuki-911/my-portfolio-new/refs/heads/main/background-overall.jpg);}
.clearfix{float:both;}
ul{list-style:none;}
nav li{float:left;margin-right:30px;}
nav li a{text-decoration:none; color: inherit;position:relative;}
nav li a:hover{color:#345c39;border-bottom: 2px solid #345c39;}
nav li a:hover::after{content:""; position: absolute;top:100%;left:50%;transform: translateX(-50%);width: 16px;height: 10px; background: url(https://github.com/mizuki-911/my-portfolio-new/blob/main/triangle.png?raw=true) no-repeat center;background-size: contain;display: block;}
h2{text-align:center;font-size:20px;padding-top:15px;}
.underline{position:relative;padding-bottom:10px;}
.underline::after{content:"";position:absolute;width:100%;left:0;bottom:0;height:4px;background-color:gray;}

/* =====================================
    ラッパー
======================================*/
div#wrapper{width:960px;height:auto;margin:0 auto;}

/* =====================================
     ヘッダー
======================================*/
header{width:100%;height:100px;background-image:url(https://github.com/mizuki-911/my-portfolio-new/blob/main/background-header.jpg?raw=true);}
header h1{text-align:center;margin-top:10px;}
nav{display:flex;justify-content:center;}

/* =====================================
     profile
======================================*/
div#profile{width:760px;height:300px;background-image:url(https://github.com/mizuki-911/my-portfolio-new/blob/main/background-body.jpg?raw=true);margin:30px auto;position:relative;}
div#profile img{position:absolute;top:18%;left:15%}
div#profile ul{position:absolute;right:20%;top:16%;}
div#profile ul div.border-profile{border:5px solid white;}
div#profile ul li{display:inline-block;padding-top:20px;padding-bottom:20px;}
div#profile ul p{display:inline;}
div#profile ul li::before{content:"●";margin-right:8px;}
div#profile ul li::after{content:":";margin-left:8px;}


/* =====================================
     連絡先情報
======================================*/
div#information{width:760px;height:300px;background-image:url(https://github.com/mizuki-911/my-portfolio-new/blob/main/background-body.jpg?raw=true);margin:30px auto;position:relative;}
div#information ul{position:relative;top:15%;left:15%;display:flex;flex-direction:column;}
div#information ul div.border-information{width:400px;border:5px solid white;padding-top:20px;padding-left:40px;}
div#information div.mail{flex:1;}
div#information div.tel{flex:1;}
div#information ul li{padding-bottom:30px;display:inline-block;}
div#information ul p{display:inline;}
div#information ul p::after{content:":";margin-right:8px;}
div#information ul a{text-decoration:none;}

/* =====================================
     取得資格
======================================*/
div#certification{width:760px;height:500px;background-image:url(https://github.com/mizuki-911/my-portfolio-new/blob/main/background-body.jpg?raw=true);margin:30px auto;position:relative;}
div#certification p{font-size:20px;position:absolute;top:10%;left:25%;}
div#certification img{width:500px;height:380px;position:absolute;top:20%;left:16%}

/* =====================================
     キャリアの目標
======================================*/
div#goal{width:800px;height:280px;background-image:url(https://github.com/mizuki-911/my-portfolio-new/blob/main/background-body.jpg?raw=true);margin:30px auto;position:relative;}
div#goal div.border-goal{border:5px solid white;position:absolute;left:10%;top:18%}
div#goal p{font-size:16px;line-height:30px;}


